body {
  height: 100vh;
  background-image: url("../images/lfz-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.head-row {
  height: 10%;
  justify-content: center;
}

.card-row {
  height: 80%;
}

aside, main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

aside > div {
  height: 11%;
  width: 80%;
}

.card {
  height: 25%;
}

.card-front, .card-back {
  height: 100%;
  width: 90%;
  background-size: cover;
  background-position: center;
}

.card-back {
  background-image: url("../images/lfz-card.jpg");
}

#stats-sec {
  display: flex;
  align-items: center;
}

.stats-holder {
  background: green;
  text-align: center;
  line-height: 50px;
}

.center {
  justify-content: center;
  align-items: center;
}
