body {
  height: 100vh;
  background-image: url("../images/konaha-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Ubuntu';
}

.head-row {
  height: 10%;
  justify-content: center;
}

.card-row {
  height: 80%;
}

aside, main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

aside > div {
  width: 80%;
}

img {
  margin-top: 1.5%;
}

.card {
  height: 25%;
  position: relative;
}

.card-front,
.card-back {
  height: 90%;
  width: 90%;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.card-front:hover,
.card-back:hover {
  cursor: pointer;
}

.card-back {
  background-image: url("../images/leaf-symbol.jpg");
}

#stats-sec {
  display: flex;
  align-items: center;
  font-size: large;
  color: rgb(250, 189, 8);
  text-align: center;
}

.stats-holder {
  background-image: linear-gradient(rgba(98, 98, 98, 0.19), rgba(98, 98, 98, 0.19)), url("../images/Sharingan.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 11%;
  border-radius: 12px;
}

.stats-holder2 {
  background-image: linear-gradient(rgba(98, 98, 98, 0.19), rgba(98, 98, 98, 0.19)), url("../images/Rinnegan.png");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 11%;
  border-radius: 12px;
}

.center {
  justify-content: center;
  align-items: center;
}

.naruto {
  background-image: url("../images/naruto.jpg");
  background-size: 170%;
  background-position: top;
}

.itachi {
  background-image: url("../images/itachi.jpg");
  background-size: cover;
  background-position: top;
}

.jiraiya {
  background-image: url("../images/jiraiya.jpg");
  background-position: top;
}

.lee {
  background-image: url("../images/lee.jpg");
  background-position: top;
}

.madara {
  background-image: url("../images/madara.jpg");
  background-position: top;
}

.orochimaru {
  background-image: url("../images/orochimaru.jpg");
  background-position: center;
  background-size: 120%;
}

.pain {
  background-image: url("../images/pain.jpg");
  background-position: top;
}

.sakura {
  background-image: url("../images/sakura.png");
  background-position: top;
}

.sasuke {
  background-image: url("../images/Sasuke.jpg");
  background-position: top;
  background-size: 130%;
}

.win-modal {
  position: fixed;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.win-modal-content {
  background-image: linear-gradient(rgba(98, 98, 98, 0.39), rgba(98, 98, 98, 0.39)), url('../images/naruto-win.jpg');
  color: white;
  width: 30%;
  border: 5px solid black;
  border-radius: 12px;
  font-size: 3rem;
  padding: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-p {
  margin: 5px;
}

#resetButton {
  padding: 5%;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  width: 35%;
  background: darkorange;
  color: white;
  box-shadow: 0 7px #999;
  font-family: inherit;
}

#resetButton:hover {
  cursor: pointer;
}

#resetButton:focus {
  display: none;
}

#resetButton:active {
  background-color: rgba(255, 140, 0, 0.408);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.hidden {
  display: none;
}
